.diffcheck-content-wrapper {
    width: calc(100vw - 160px);

    height: calc(100vh - 160px);
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s, color 0.2s;
    
    border-bottom: 5px solid var(--secondary-color);
    border-right: 5px solid var(--secondary-color);
    border-left: 5px solid var(--accent-color);
    border-top: 5px solid var(--accent-color);
}