@media (max-width: 768px) {

  .content-wrapper {
    display: none;
  }

  .mobile-support-banner {
    display: block;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
  }
}

:root {
    --main-color: #e4dfd8;
    --secondary-color: #161616;
    --accent-color: #b0b0b0;
    --link-hover-color: #6f6f6f;
    --regex-match-color: #78ca67;
    --font-mono: 'JetBrains Mono', monospace;
}

html, body {
  font-family: var(--font-mono);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: var(--main-color);
  transition: background 0.2s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dark {
    --main-color: #161616;
    --secondary-color: #93ff78;
    --accent-color: #93ff78;
    --link-hover-color: #43a92a;
}

.content-wrapper {
    padding: 0;
    margin: 0;
}

.portfolio-link {
  text-decoration: none;
  margin-left: 80px;
  font-size: small;
  color: var(--secondary-color);

  transition: color 0.2s;
}

.portfolio-link:hover {
  color: var(--link-hover-color) !important;
}

.portfolio-link:visited {
    color: var(--secondary-color);
}

.content-display-wrapper {
    width: 100vw;
    height: calc(100vh - 80px);
    background-color: var(--main-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.2s, color 0.2s;
}